span{color:#B3B3B3;}
strong{margin-right:15px; color:black;}
#resBox{ margin:22px 10px 0px 10px; }
.searchWrap{
    display:flex; column-gap:10px;
    width:100%; align-items: center;
    border-bottom:1px solid #B3B3B3;
    padding: 10px 0;
}
.exit{
    width:15px;
    position:relative; left:93%; top:-15px;
    cursor:pointer;
}
@media(max-width:1194px){
    .exit{display:none;}
}

.title{margin-bottom:5px;}
.posterWrap{
    width:64px; height:fit-content; background:#B3B3B3;
}
.posterWrap img{width:100%;}

@media(min-width:1194px){
    .searchWrap{align-items: start;}
    .onMobile{display:none;}
}
@media(max-width:1194px){
    .infoWrap{font-size:12px;}
    .posterWrap{
        width:82px; height:fit-content; background:#B3B3B3;
    }
}