.main-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    left:50%; transform: translateX(-50%);
    margin:100px 0;
  }
  @media(max-width:1194px){
    .main-content{
        width:calc(100vw - 30px);
        margin:35px 0px 100px 0px;
    }
  }
  
  .main-content .now-show-wrap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .main-content .now-show-wrap{
        width:100%;
    }
  }
  
  .main-content .title {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: flex-start;
    gap: 750px;
    padding: 0px 0px 20px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .main-content .title{
        width:100%;
        padding: 0px 0px 50px 0px;
    }
  }
  
  .main-content .mainTitle {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  @media(max-width:1194px){
    .main-content .title > .mainTitle{
        font-size:16px; 
    }
  }
  
  .main-content .posters {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    align-items: flex-start;
    gap: 15px 10px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .main-content .posters{
        width:100%; gap: 50px 18px;
        display:grid;
        grid-template-columns: repeat(5, 1fr);
    }
  }
  @media(max-width:880px){
    .main-content .posters{
        grid-template-columns: repeat(4, 1fr);
    }
  }
  @media(max-width:490px){
    .main-content .posters{
        display:flex; flex-direction: column;
        flex-wrap:nowrap; gap:25px;
    }
  }
  
  .main-content .poster-box {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:490px){
    .main-content .poster-box{
        display:grid; grid-template-columns: 8fr 10fr;
    }
  }
  
  .main-content .rectangle {
    position: relative;
    width: 192px;
    height: 303px;
    object-fit: cover;
  }
  @media(max-width:1194px){
    .main-content .rectangle{
        width:100%; height:fit-content;
    }
  }
  @media(max-width:490px){
    .main-content .rectangle{
        width:100%;
    }
  }
  
  .main-content .view {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
    padding: 0px 5px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:490px){
    .main-content .view{
        width:100%; padding:0;
        justify-content: center;
    }
  }
  
  .main-content .div {
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-black);
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:1194px){
    .main-content .div{
        font-size:16px;
    }
  }
  @media(max-width:490px){
    .main-content .div{font-size:20px;}
  }
  
  .main-content .normalFont {
    align-self: stretch;
    font-family: var(--base-fontsize-font-family);
    font-weight: var(--base-fontsize-font-weight);
    color: var(--font-black);
    font-size: var(--base-fontsize-font-size);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    letter-spacing: var(--base-fontsize-letter-spacing);
    line-height: var(--base-fontsize-line-height);
    font-style: var(--base-fontsize-font-style);
  }
  @media(max-width:1194px){
    .main-content .normalFont{
        font-size:12px;
    }
  }
  @media(max-width:490px){
    .main-content .normalFont{
        font-size:13px; font-weight:900;
    }
  }
  
  .main-content .starBox {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px; 
    padding: 0px 5px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .main-content .starBox{
        gap:5px;
    }
  }
  @media(max-width:490px){
    .main-content .starBox{ display:none; }
  }
  
  .main-content .starYellow {
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--y);
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:1194px){
    .main-content .starYellow{
        font-size:12px;
    }
  }
  
  .main-content .starBlack {
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-black);
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:1194px){
    .main-content .starBlack{
        font-size:12px;
    }
  }
  
  @media(min-width:490px){
    .main-content .onMobile{ display:none; }
  }