.content {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: flex-start;
    gap: 50px;
    padding: 50px 0px 100px;
    position: relative;
    left:50%;
    transform:translate(-50%);
  }
  
  .content .title {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .content .mainTitle {
    position: relative;
    width: 1020px;
    margin-top: -1px;
    margin-right: -20px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .content .results {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    align-items: flex-start;
    gap: 50px 86px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .content .template {
    display: flex;
    flex-direction: column;
    width: 185px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .content .rectangle {
    position: relative;
    width: 185px;
    height: 260px;
    object-fit: cover;
  }
  
  .content .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .content .div {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--semi-title-font-family);
    font-weight: var(--semi-title-font-weight);
    font-size: var(--semi-title-font-size);
    white-space: nowrap;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: var(--semi-title-letter-spacing);
    line-height: var(--semi-title-line-height);
    font-style: var(--semi-title-font-style);
  }
  
  .content .line {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: var(--collection-1-black);
  }
  
  .content .normalFont {
    width: fit-content;
    font-family: var(--base-fontsize-font-family);
    font-weight: var(--base-fontsize-font-weight);
    font-size: var(--base-fontsize-font-size);
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: var(--base-fontsize-letter-spacing);
    line-height: var(--base-fontsize-line-height);
    font-style: var(--base-fontsize-font-style);
  }
  
  .content .running-time {
    display: flex;
    width: 308px;
    align-items: flex-start;
    gap: 38px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -123px;
  }
  
  .content .bold {
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 900;
    font-size: 17px;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: 0;
    line-height: normal;
  }
  