.screen {
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 80px; margin:60px auto;
    position: relative;
    left:50%; transform: translateX(-50%);
  }
  @media(max-width:1194px){
    .screen{ gap:70px; margin:30px 0px 80px 0px; }
  }
  @media(max-width:490px){
    .screen{ margin: 30px auto; gap:30px;}
  }
  
  .screen .div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height:fit-content;
  }
  @media(max-width:490px){
    .screen .div{ height:165px; left:0;}
  }
  
  .screen .title {
    display: flex;
    width: 1000px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto; padding: 20px 0;
  }
  @media(max-width:1194px){
    .screen .title{
        width:100%;
        left:50%; transform: translateX(-50%);
    }
  }
  @media(max-width:490px){
    .screen .title{
        margin-bottom: 10px; padding:0;
    }
  }
  
  .screen .mainTitle {
    position: relative;
    width: 192px;
    height: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  @media(max-width:490px){
    .screen .mainTitle
    {font-size: 16px;}
  }
  
  .screen .plusBt {
    width: 23px;
    height: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 35px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:490px){
    .screen .plusBt{display:none;}
  }
  
  .screen .cont {
    display: flex;
    width: 1000px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -17.49px;
  }
  @media(max-width:1194px){
    .screen .cont{
        width:calc(100vw - 30px); height:fit-content; gap:11px;
    }
  }
  @media(max-width:490px){
    .screen .cont{
        width:calc(100vw -15px);
        left:0; gap:5px;
        overflow-x: scroll;
    }
  }
  
  .screen .poster-box {
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  @media(max-width:1194px){
    .screen .poster-box{width:25%; height: fit-content;}
  }
  @media(max-width:490px){
    .screen .poster-box{width:100%;}
  }
  
  .screen .image {
    position: relative;
    width: 230px;
    height: 331.63px;
    object-fit: cover;
  }
  @media(max-width:1194px){
    .screen .image{width:100%; height:100%;}
  }
  @media(max-width:490px){
    .screen .image{width:100px; height:100%;}
  }
  
  .screen .view {
    display: flex;
    flex-direction: column;
    width: 215px;
    align-items: flex-start;
    gap: 5px;
    padding: 0px 5px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:490px){
    .screen .view{
        display:none;
    }
  }
  
  .screen .movieTitle {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-black);
    font-size: 26px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:1194px){
    .screen .movieTitle {width:100%; font-size: 20px;}
  }
  
  .screen .movieDate {
    font-family: var(--base-fontsize-font-family);
    font-weight: var(--base-fontsize-font-weight);
    color: var(--font-black);
    font-size: var(--base-fontsize-font-size);
    letter-spacing: var(--base-fontsize-letter-spacing);
    line-height: var(--base-fontsize-line-height);
    font-style: var(--base-fontsize-font-style);
  }
  
  .screen .starBox {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .screen .starBox { gap:auto; width:100%; }
  }
  
  @media(max-width:490px){
    .screen .starBox {
        display:none;
    }
  }
  
  .screen .starYellow {
    width: 20px;
    height: 22.86px;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--y);
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .starBlack {
    width: 20px;
    height: 22.86px;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-black);
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }