.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px;
    padding: 50px 0px;
    position: relative;
  }
  @media(max-width:1194px){
    .content {
      margin:0 auto;
      width:calc(100vw - 30px);
    }
  }
  @media(max-width:490px){
    .content{ padding:30px 0px; gap:30px; }
  }

  .bookMark_Bt{cursor:pointer}
  
  /**영화정보*/
  .content .movie-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px; width:1000px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .movie-info-box{
      width:calc(100vw - 30px);
    }
  }
  @media(max-width:490px){
    .content .movie-info-box{
      gap:30px;
    }
  }
  
  .content .mainTitle {
    width: 1000px;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:1194px){
    .content .mainTitle{width:fit-content; }
  }
  @media(max-width:490px){
    .content .mainTitle{font-size:15px;}
  }
  
  .content .movie-template {
    display: inline-flex;
    align-items: flex-start;
    column-gap: 25px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .movie-template{
      width:calc(100vw - 30px);
      column-gap:0; justify-content: space-between;
    }
  }
  @media(max-width:490px){
    .content .movie-template{
      flex-direction: column;
      row-gap:25px;
    }
  }
  
  .content .poster {
    position: relative;
    width: 185px;
    height: fit-content;
    object-fit: cover;
  }
  @media(max-width:490px){
    .content .poster{ width:100%; height:100%; }
  }
  
  .content .frame {
    display: inline-flex;
    flex-direction: column;
    width:calc(100% - (185px + 25px));
    height: 260px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .frame { width:calc(100% - (185px + 25px)) }
  }
  @media(max-width:490px){
    .content .frame{ width:100%; height:fit-content; gap:20px; }
  }
  
  .content .movieName {
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 40px;
    white-space: nowrap;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:490){
    .content .movieName{
      font-size:25px;
    }
  }
  
  .content .bold {
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:490px){
    .content .bold{font-size:12px;}
  }
  
  .content .line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--collection-1-black);
  }
  
  .content .infoFrame {
    display: inline-flex;
    align-items: flex-start;
    gap: 38px;
    position: relative;
    flex: 0 0 auto;
    width:100%;
  }
  
  .content .normalFont {
    width:auto;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    color: var(--collection-1-black);
    width:calc(100%);
  }
  @media(max-width:490px){
    .content .normalFont{font-size:12px;}
  }
  
  .content .p {
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:490px){
    .content .p{font-size:12px;}
  }
  
  /**예고편*/
  .content .subWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .subWrap{
      width:100%;
    }
  }
  
  .content .subTitle {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--semi-title-font-family);
    font-weight: var(--semi-title-font-weight);
    font-size: var(--semi-title-font-size);
    white-space: nowrap;
    position: relative;
    color: #000000;
    letter-spacing: var(--semi-title-letter-spacing);
    line-height: var(--semi-title-line-height);
    font-style: var(--semi-title-font-style);
  }
  @media(max-width:490px){
    .content .subTitle{
      font-size:16px;
    }
  }

  
  .content .trailer-template {
    align-items: flex-start;
    gap: 50px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .trailer-template{
      width:100%;
      justify-content: space-between;
      overflow-X:scroll; padding:0px 0px 15px 0px;
    }
  }
  @media(max-width:490px){
    .content .trailer-template{gap:10px;}
  }

  ::-webkit-scrollbar{
    height:8px;
    background: gray;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background:#454545;
    border-radius: 10px;
  }
  @media(max-width:490px){
    ::-webkit-scrollbar{
      height:0px;
    }
  }
  
  .content .trailerBox {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .content .trailer {
    position: relative;
    width: 300px;
    height: 210px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .content .play-bt {
    top: 68px;
    position: absolute;
    width: 73px;
    height: 73px;
    left: 113px;
  }
  
  .content .trailerTitle {
    width: fit-content;
    font-family: var(--normal-font-family);
    font-weight: var(--normal-font-weight);
    font-size: var(--normal-font-size);
    position: relative;
    color: #000000;
    letter-spacing: var(--normal-letter-spacing);
    line-height: var(--normal-line-height);
    font-style: var(--normal-font-style);
  }
  @media(max-width:490px){
    .content .trailerTitle{font-size:12px;}
  }
  

  /**차트*/
  .content .chartWrap {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:810px){
    .content .chartWrap{
      flex-direction: column;
      width:100%;
    }
  }

  .content .chartBox {
    position: relative;
    width: 500px; padding: 0 25px;
    height: 500px;
    background-color: var(--white);
    border: 1px solid;
    border-color: #000000;
    display:flex; flex-direction: column;
    justify-content: center; align-items: start;
    gap:11px;
  }
  @media(max-width:810px){
    .content .chartBox {
      width:100%;
    }
  }

  .content .chartBox:first-child{
    border-right:0px solid transparent;
  }

  .content .chartBox h3{font-size:23px;}

  @media(max-width:1194px){
    .content .chartWrap{width:100%; overflow:hidden;}
    .content .chartBox{width:50%;}
  }
  @media(max-width:810px){
    .content .chartBox {
      width:100%;
    }
  }
  @media(max-width:810px){
    .content .chartBox{width:100%;}
    .content .chartBox:first-child{
      border-right:1px solid black;
      border-bottom:none;
    }
  }
  @media(max-width:490px){
    .content .chartBox{height:fit-content; padding:15px;}
    .content .chartBox:first-child{
      margin-bottom:20px;
      border-bottom:1px solid black;
    }
    .content .chartBox h3{font-size:12px;}
  }
  


  #darkBg{
    position:fixed; top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.25);
    z-index:5; display: flex; justify-content: center;
    align-items: center;
  }

  #big{
    transform: scale(2);
  }